/* Dashboard.css */

.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap to the next row */
  justify-content: space-between;
  /* Add spacing between items */
  margin-top: 20px;
  /* Adjust as needed */
}

/* Adjust width of product container */
.product {
  width: calc(25% - 20px);
  /* 25% width with margin included */
  margin-bottom: 20px;
  /* Adjust margin between products */
}